<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.facturastock.app.data.export.ExportTestProvider"
            android:authorities="com.facturastock.app.export-test"
            android:exported="false"
            android:grantUriPermissions="false" />
        <provider
            android:name="com.facturastock.app.data.export.ReportPdfTestProvider"
            android:authorities="com.facturastock.app.report-pdf-test"
            android:exported="false"
            android:grantUriPermissions="false">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
